/* @media screen and (max-width: 1024px) { 
    .header { 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
    }
    .header__img{
        display: block;
        left: 0;
        
    }
} */
