body{
    width: 1920px;
    height: 8084px;
    padding: 0;
    margin: 0 auto;
    background-color: black;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;      
}
header{
    width: 1920px;
    height: 100px;
    position: fixed;
    align-items: center;
    margin: 0;
    background-color: black;
    z-index: 1;
}
.header__img{
    position: absolute;
    left: 375px;
    top: 30px;
}
.header__worktime{
    font-size: 10px;
    position: absolute;
    left: 918px;
    top: 28px;
}
.header__number{
    width: 160px;
    height: 46px;
    font-size: 18px;
    position: absolute;
    left: 1187px;
    top: 27px;
}
.header__callback{
    width: 170px;
    height: 50px;
    background-color: #3f69af;
    color: #ffffff;
    position: absolute;
    left: 1375px;
    top: 25px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 0;
}
.callback-form{
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    right: 375px;
    top: 100px;
    display: none;
    position: absolute;
}
form>input{
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    padding: 0;
}
form>textarea{
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    padding: 0;
}
.main{
    position: absolute;
    width: 1920px;
    height: 860px;
    top: 100px;
}
.main__img{
    position: absolute;
    z-index: -1;
}
.deliver{
    left: 375px;
    width: 570px;
    height: 860px;
    background-color: #e6b331;
    margin: 0;
    position: absolute;
}
.head__text{
    width: auto;
    height: auto;
    color: #000000;
    font-size: 40px;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
    margin: 0;
}
.second__text{
    width: auto;
    height: auto;
    position: absolute;
    color: #000000;
    top: 290px;
    left: 101px;
}
.deliver__item-img{
    position: absolute;
    width: auto;
    height: auto;
    top: 443px;
    left: 100px;
}
.deliver__item-img1{
    margin-bottom: 60px;
}
.deliver__item-img2{
    margin-bottom: 58px;
}
.deliver__item-img3{
    margin-bottom: 54px;
}
.deliver__item{
    text-align: justify;
    position: absolute;
    width: auto;
    height: auto;
    color: #000000;
    font-size: 18px;
    top: 443px;
    left: 151px;
}
.deliver__item{
    margin-top: 0;
}
.deliver__item-text1{
    margin-top: 0;
    margin-bottom: 47px;
}
.deliver__item-text2{
    margin-top: 0;
    margin-bottom: 48px;
}
.deliver__item-text3{
    margin-top: 0;
    margin-bottom: 48px;
}
.deliver__item-text4{
    margin-top: 0;
}
.price{
    top: 960px;
    height: 500px;
    position: absolute;
    display: block;
}
.price__items{
    top: 100px;
    left: 757px;
    right: 393px;
    bottom: 98px;
    position: absolute;
}
.price__items-main-text{
    top: 0;
    right: 0;
    color: #000000;
    font-size: 26px;
    text-align: right;
    margin-bottom: 60px;
}
.price__items-input{
    top: 222px;
}
.price__items-input1{
    background: url("img/envelope_\(2\).png") no-repeat right;
    background-position-x: 330px;
    width: 368px;
    height: 68px;
    background-color: #f2f2f2;
    border: none;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.price__items-input2{
    background: url("img/call-answer_\(4\).png") no-repeat right;
    background-position-x: 330px;
    width: 368px;
    height: 68px;
    background-color: #f2f2f2;
    border: none;
    margin-left: 30px;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.price__items-second-text{
    color: #000000;
    font-size: 14px;
    margin-left: 125px;
    margin-top: 55px;
    display: inline-block;
    text-align: right;
}
.price__clock{
    margin-left: 26px;
    top: 347px;
}
.price__items-button{
    text-align: center;
    width: 368px;
    height: 80px;
    background-color: #3e66ab;
    font-size: 17px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    right: 0;
    top: 222px;
    position: absolute;
    border: none;
}
.container__dont-wait{
    width: 1920px;
    height: 587px;
    top: 1460px;
    background-color: #1a283f;
    position: absolute;
}
.dont-wait__head-text{
    width: 420px;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    left: 750px;
}
.dont-wait__second-text{
    width: 320px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 161px;
    left: 800px;
    text-align: center;
}
.dont-wait__items{
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
.item-engine__img{
    position: absolute;
    top: 301px;
    left: 463px;
}
.item-engine__text{
    position: absolute;
    top: 450px;
    left: 413px;
    width: 196px;
}
.item-dump-truck__img{
    position: absolute;
    top: 313px;
    left: 754px;
}
.item-dump-truck__text{
    position: absolute;
    top: 451px;
    left: 712px;
    width: 185px;
}
.item-calendar__img{
    position: absolute;
    top: 304px;
    left: 1062px;
}
.item-calendar__text{
    position: absolute;
    top: 451px;
    left: 1005px;
    width: 200px;
}
.item-forma__img{
    position: absolute;
    top: 305px;
    left: 1356px;
}
.item-forma__text{
    position: absolute;
    top: 451px;
    left: 1298px;
    width: 200px;
}
.price-copy{
    position: absolute;
    top: 587px;
}
.price-copy__elements{
    position: absolute;
    top: 100px;
    left: 375px;
    width: 1170px;
    height: 382px;
}
.price-copy__elements-head{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.price-copy__elements-title{
    margin-top: 30px;
    text-align: center;
}
.price-copy__inputs{
    position: absolute;
    top: 154px;
 
}
.price-copy__input1{
    background: url("img/envelope_\(2\).png") no-repeat right;
    background-position-x: 330px;
    width: 368px;
    height: 68px;
    background-color: #f2f2f2;
    border: none;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.price-copy__input2{
    background: url("img/call-answer_\(4\).png") no-repeat right;
    background-position-x: 330px;
    width: 368px;
    height: 68px;
    background-color: #f2f2f2;
    border: none;
    margin-left: 30px;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.price-copy__button{
    text-align: center;
    width: 368px;
    height: 70px;    
    background-color: #e6b431;
    font-size: 17px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    left: 800px;
    top: 154px;
    border: none;
}
.price-copy__elements-foot{
    position: absolute;
    text-align: center;
    top: 284px;
    left: 382px;
}
.price-copy__elements-phone{
    font-size: 30px;
    font-weight: 400;
}
.waranty{
    position: absolute;
    top: 2627px;
    height: 806px;
    width: 1920px;
    background: #ffffff;
}
.waranty-head__text{
    position: absolute;
    width: 672px;
    height: 74px;
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 100px;
    left: 624px;
}
.waranty-img1{
    position: absolute;
    top: 274px;
    left: 445px;    
}
.waranty-img2{
    position: absolute;
    top: 274px;
    left: 845px;    
}
.waranty-img3{
    position: absolute;
    top: 274px;
    left: 1245px;    
}
.waranty-foot__text1{
    position: absolute;
    width: 300px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    top: 614px;
    left: 416px;
    margin: 0;
}
.waranty-foot__text2{
    position: absolute;
    width: 350px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    top: 614px;
    left: 793px;
    margin: 0;
}
.waranty-foot__text3{
    position: absolute;
    width: 315px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    top: 614px;
    left: 1208px;
    margin: 0;
}
.waranty-foot__detail{
    width: 111px;
    height: 17px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}
.waranty-foot__detail1{
    position: absolute;
    top: 690px;
    left: 505px;
    width: 111px;
    text-decoration: underline;
    margin: 0;
}
.waranty-foot__detail2{
    position: absolute;
    top: 690px;
    left: 903px;
    width: 111px;
    text-decoration: underline;
    margin: 0;
}
.waranty-foot__detail3{
    position: absolute;
    top: 690px;
    left: 1303px;
    width: 111px;
    text-decoration: underline;
    margin: 0;
}
.bonus{
    position: absolute;
    width: 1920px;
    height: 570px;
    background-color: #1a283f;
    top: 3433px;
}
.bonus-title{
    position: absolute;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    top: 100px;
    left: 629px;
}
.bonus-img__10percent{
    position: absolute;
    top: 272px;
    left: 461px;
}
.bonus-img__20percent{
    position: absolute;
    top: 272px;
    left: 761px;
}
.bonus-img__truck{
    position: absolute;
    top: 272px;
    left: 1061px;
}
.bonus-img__caller{
    position: absolute;
    top: 272px;
    left: 1361px;
}
.bonus-detail__10percent{
    position: absolute;
    top: 412px;
    left: 389px;
    width: 250px;
    font-size: 18px;
    text-align: center;
}
.bonus-detail__20percent{
    position: absolute;
    top: 412px;
    left: 687px;
    width: 250px;
    font-size: 18px;
    text-align: center;
}
.bonus-detail__truck{
    position: absolute;
    top: 412px;
    left: 1000px;
    width: 250px;
    font-size: 18px;
    text-align: center;
}
.bonus-detail__caller{
    position: absolute;
    top: 412px;
    left: 1295px;
    width: 250px;
    font-size: 18px;
    text-align: center;
}
.question{
    position: absolute;
    top: 4003px;
    width: 1920px;
    height: 770px;
    background-color: #233854;
}
.question-title{
    position: absolute;
    top: 100px;
    left: 742px;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}
.question-text{
    position: absolute;
    top: 161px;
    left: 792px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.question-list{
    position: absolute;
    top: 279px;
    left: 375px;
    margin: 0;
    padding: 0;
}
.question-list__link{
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 55px;
}
.question-img__main{
    position: absolute;
    top: 279px;
    left: 975px;
}
.question-img__reload{
    position: absolute;
    top: 629px;
    left: 360px;
}
.question-text__foot{
    position: absolute;
    top: 629px;
    left: 400px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.comfort{
    position: absolute;
    top: 4773px;
    width: 1920px;
    height: 571px;
    background-color: #ffffff;
    color: #000000;
}
.comfort-title{
    position: absolute;
    top: 100px;
    left: 748px;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}
.comfort-text{
    position: absolute;
    top: 161px;
    left: 699px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.comfort-img1{
    position: absolute;
    top: 279px;
    left: 514px;
}
.comfort-img2{
    position: absolute;
    top: 279px;
    left: 916px;
}
.comfort-img3{
    position: absolute;
    top: 279px;
    left: 1315px;
}
.comfort-img__text1{
    position: absolute;
    top: 416px;
    left: 450px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.comfort-img__text2{
    position: absolute;
    top: 416px;
    left: 860px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.comfort-img__text3{
    position: absolute;
    top: 416px;
    left: 1250px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.warehouse{
    position: absolute;
    width: 1920px;
    height: 670px;
    background-color: #233854;
    top: 5344px;
}
.warehouse-title{
    position: absolute;
    top: 100px;
    left: 736px;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}
.warehouse-text{
    position: absolute;
    top: 161px;
    left: 643px;
    margin: 0;
    text-align: center;
}
.warehouse-img1{
    position: absolute;
    top: 301px;
    left: 375px;
}
.warehouse-img2{
    position: absolute;
    top: 301px;
    left: 775px;
}
.warehouse-img3{
    position: absolute;
    top: 301px;
    left: 1175px;
}
.mobile-teams{
    position: absolute;
    top: 6014px;
    width: 1920px;
    height: 705px;
    background-color: #ffffff;
    color: #000000;
}
.mobile-teams__title{
    position: absolute;
    top: 100px;
    left: 560px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.mobile-teams__img1{
    position: absolute;
    top: 318px;
    left: 475px;
}
.mobile-teams__img2{
    position: absolute;
    top: 318px;
    left: 875px;
}
.mobile-teams__img3{
    position: absolute;
    top: 318px;
    left: 1275px;
}
.mobile-teams__text1{
    position: absolute;
    top: 528px;
    left: 410px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.mobile-teams__text2{
    position: absolute;
    top: 528px;
    left: 800px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.mobile-teams__text3{
    position: absolute;
    top: 528px;
    left: 1207px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.consultation{
    position: absolute;
    top: 6719px;
    width: 1920px;
    height: 470px;
    background-color: #22354d;
}
.consultation-img{
    position: absolute;
    bottom: 0;
    left: 1403px;
}
.consultation-title{
    position: absolute;
    margin: 0;
    top: 100px;
    left: 427px;
    font-size: 30px;
    font-weight: 400;
}
.consultation-call{
    position: absolute;
    margin: 0;
    top: 186px;
    left: 844px;
}
.consultation-phone{
    position: absolute;
    margin: 0;
    top: 215px;
    left: 801px;
    font-size: 36px;
    font-weight: 700;
}
.consultation-input{
    position: absolute;
    top: 301px;
    left: 574px;
    background: url("img/call-answer_\(4\).png") no-repeat right;
    background-position-x: 330px;
    width: 368px;
    height: 68px;
    background-color: #f2f2f2;
    border: none;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.consultation-button{
    text-align: center;
    width: 368px;
    height: 70px;    
    background-color: #e6b431;
    font-size: 17px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    left: 974px;
    top: 301px;
    border: none;
}
.office{
    position: absolute;
    top: 7189px;
    width: 1920px;
    height: 400px;
    background-color: #ffffff;
    color: #000000;
}
.office-img{
    position: absolute;
    left: 148px;
}
.office-title{
    position: absolute;
    top: 100px;
    left: 783px;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.office-adress{
    position: absolute;
    top: 227px;
    left: 795px;
    font-size: 18px;
    margin: 0;
}
.office-phone{
    position: absolute;
    top: 276px;
    left: 854px;
    font-size: 24px;
    margin: 0;
}
.map{
    position: absolute;
    top: 7589px;
    width: 1920px;
    height:375px;
    border: 0;
}
.footer{
    position: absolute;
    top: 7964px;
    width: 1920px;
    height: 120px;
}
.footer-logo{
    position: absolute;
    top: 40px;
    left: 375px;
}
.footer-logo_love{
    position: absolute;
    top: 54px;
    left: 815px;
}
.footer-logo_mark{
    position: absolute;
    top: 50px;
    left: 1034px;
}
.footer-text{
    position: absolute;
    top: 40px;
    left: 1396px;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.footer-phone{
    position: absolute;
    top: 64px;
    left: 1385px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}